// variables
$device: multi-device !default; // mobile, pc, multi-device
$legacy-ie: if($device == "mobile", 9, 6) !default; // ie supoorted version

$box-sizing: null !default;

$root-font-size: 16px !default;

$base-font-size: 87.5% !default;
$base-color: #373a3c !default;
$base-background-color: #fff !default;
$base-line-height: 1.5 !default;
$base-font-family: "Microsoft YaHei", "PingFang SC", "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Lantinghei SC", "Microsoft Sans Serif", "WenQuanYi Micro Hei" !default;
$input-border-color: #a9a9a9 !default;
$input-bg-disabled: #ebebe4 !default;
$input-color-disabled: #545454 !default;
$input-placeholder: #a9a9a9 !default;

$link-color: #0275d8 !default;
$link-decoration: none !default;
$link-hover-color: #014c8c !default;
$link-hover-decoration: underline !default;

$design-width: 720 !default;

$font-family-monospace: "Source Code Pro", Consolas, Menlo, Monaco, "Courier New" !default;
$focus-outline: true !default;

$container-min-width: 1000 !default;
$container-max-width: 1200 !default;
$container-padding: 15px !default;

// Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 544px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px
) !default;

$base-font-family: $base-font-family, sans-serif;
$font-family-monospace: $font-family-monospace, monospace;
$inline-mark: "?__inline";
$sprite-mark: "?__sprite";
