doctype html
include pug/_global

-
  title = 'title';

  keywords = [
  ];

  description = '';

  cssFiles = [
    'static/style/main.scss',
  ];

+htmlStartTag(env)
head
  +head(env)
  title= title
  + meta('keywords', keywords)
  + meta('description', description)
  each cssFile in cssFiles
    + css(cssFile)
body
  .container hello world!

  +polyfill(env)
  +jquery(env)

+htmlEndTag(env)
