doctype html
include jade/_funcs

-
  title = 'title';

  keywords = [
  ];

  description = '';

  viewport = {
    width: 'device-width',
    'initial-scale': 1,
    'shrink-to-fit': 'no',
  };

  cssFiles = [
    'static/style/main.scss',
  ];

  headjsFiles = [
  ];

  jsFiles = [
    'static/js/vendors/jquery/jquery-1.12.4.min.js',
  ];


html(lang='zh-cmn-Hans')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    + meta('renderer', content='webkit')
    meta(http-equiv='Cache-Control', content='no-siteapp')
    meta(name='google', value='notranslate')
    + meta('robots', ['index','follow'])
    + meta('viewport', viewport)
    title= title
    + meta('keywords', keywords)
    + meta('description', description)
    <!--[if lt IE 9]>
    + js('static/js/vendors/html5shiv/html5shiv-3.7.3.min.js')
    <![endif]-->
    - each headjsFile in headjsFiles
      + js(headjsFile)
    - each cssFile in cssFiles
      + css(cssFile)
  body
    .container

    <!--[if IE 6]>
    + js('static/js/vendors/dd_belatedpng.min.js')
    script.
      DD_belatedPNG.fix('*')
    <![endif]-->

    - each jsFile in jsFiles
      + js(jsFile)

    <!--livereload-->
