@if $device == "pc" {
  .container {
    @include center-block();
    @include clearfix();

    @if $box-sizing == border-box and value-of($container-padding) > 0 {
      padding-left: $container-padding;
      padding-right: $container-padding;
    }

    max-width: $container-max-width * 1px;

    @if $legacy-ie <= 7 and value-of($container-max-width) > 0 {
      *width: expression(this.offsetWidth > #{$container-max-width} ? "#{$container-max-width * 1px}" : "auto");
      *overflow: hidden;
    }
  }
}

.table {
  table-layout: fixed;
  width: 100%;
  border: 1px solid $table-border-color;

  th,
  td {
    border: 1px solid $table-border-color;
    padding: $root-font-size * .5;
  }
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: $table-strip-color;
}

.table-hover tbody tr:hover {
  background-color: $table-hover-color;
}

.btn-block {
  display: block;
  width: 100%;

  & + & {
    margin-top: ($root-font-size / 2);
  }
}
