@mixin font-face(
  $font-name,
  $font-inline: false,
  $font-file: "../font/#{$font-name}",
  $font-weight: normal,
  $font-style: normal
  ) {
  @font-face {
    font-family: $font-name;

    // sass bug
    // will lost url hash
    $font-src-map: (
      embedded-opentype: if($legacy-ie, "#{$font-file}.eot?#iefix", ""),
      woff: if($font-inline, "", "#{$font-file}.woff"),
      truetype: if($font-inline, "#{$font-file}.ttf?__inline", "#{$font-file}.ttf"),
      svg: "#{$font-file}.svg##{$font-name}",
      );

    $font-src: ();
    @each $font-format, $font-url in $font-src-map {
      @if $font-url != "" {
        $font-src: append($font-src, url(#{$font-url}) format("#{$font-format}"), comma);
      }
    }

    @if $legacy-ie {
      src: url(#{$font-file}.eot);
      src: $font-src;
    } @else {
      src: $font-src;
    }

    font-weight: $font-weight;
    font-style: $font-style;
  }
}
