@mixin meter-color(
  $bg-color: null,
  $optimum-color: null,
  $sub-optimum-color: null,
  $sub-sub-optimum-color: null
  ) {
  display: inline-block;
  width: 5em;
  height: 1em;
  background: $bg-color;

  // polyfill
  .meter-bar {
    height: 100%;
  }

  // remove webkit default color
  &::-webkit-meter-bar {
    background: transparent;
  }

  // optimum
  .meter-bar.meter-optimum-value {
    background: if($optimum-color, $optimum-color, #ad7);
  }

  &::-webkit-meter-optimum-value {
    background: $optimum-color;
  }

  &:-moz-meter-optimum::-moz-meter-bar {
    background: $optimum-color;
  }

  // suboptimum
  .meter-bar.meter-sub-optimum-value {
    background: if($sub-optimum-color, $sub-optimum-color, #fe7);
  }

  &::-webkit-meter-suboptimum-value {
    background: $sub-optimum-color;
  }

  &:-moz-meter-sub-optimum::-moz-meter-bar {
    background: $sub-optimum-color;
  }

  // sub-sub-optimum
  .meter-bar.meter-sub-sub-optimum-value {
    background: if($sub-sub-optimum-color, $sub-sub-optimum-color, #f77);
  }

  &::-webkit-meter-even-less-good-value {
    background: $sub-sub-optimum-color;
  }

  &:-moz-meter-sub-sub-optimum::-moz-meter-bar {
    background: $sub-sub-optimum-color;
  }
}
