@mixin progress-color($color-value, $color-bg: #ccc) {
  background-color: $color-bg;
  color: $color-value; // ie 10

  // for ie
  // both progress color & ::-ms-fill color works
  // ::-ms-fill {
  //   background: $color-value;
  // }

  // ie6-ie9
  @if legacy-ie {
    i {
      display: block;
      height: 100%;
      background: $color-value;
    }
  }

  &::-moz-progress-bar {
    background: $color-value;
  }

  &::-webkit-progress-value  {
    background: $color-value;
  }

  &::-webkit-progress-bar {
    background: $color-bg;
  }
}
