// _config.scss

$device: responsive; // mobile, pc, responsive

// $legacy-ie: true;
$use-border-box: true;

$design-width: 720; // psd width

$base-font-size: 87.5%; // 14px;
$base-color: #373a3c;
$base-background-color: #fff;

$link-color: #0275d8;
$link-decoration: none;
$link-hover-color: #014c8c;
$link-hover-decoration: underline;
$focus-outline: true; //outline on focus

// only if not $mobile-only
// and only padding if $use-border-box
$container-min-width: 1000;
$container-max-width: 1200;
$container-padding: 15px;

@import "utils/utils";
