/**
 * @fileName: main.scss
 * @require normalize
 * @require reboot
 */
$legacy-ie: true;  // ie < 9 support
$link-hover-decoration: none;
$focus-outline: false; //outline on focus
$link-color: inherit;
$link-hover-color: inherit;

@import "utils/utils";
@import "vendors/normalize";
@import "base/reboot";
