/**
 * variables
 */
$support-for-ie: false !default;

//for old ie should use 16px instead
$base-font-size: if($support-for-ie, 16px, 1rem) !default;

$use-border-box: if($support-for-ie, false, true) !default;

$base-color: #373a3c !default;
$base-line-height: 1.5 !default;
$base-font-family: Helvetica Neue, Helvetica, PingFang SC, Lantinghei SC, Microsoft YaHei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans !default;

$link-color: #0275d8 !default;
$link-decoration: none !default;
$link-hover-color: #014c8c !default;
$link-hover-decoration: underline !default;
$font-family-monospace: Menlo, Monaco, Consolas, Courier New, monospace !default;
