.u-tab-panel {
  @include clearfix();
}

.u-tab {
  display: inline-block;

  button {
    display: block;
    width: 100%;
    border: 0;
  }

  &.is-current {
    + .u-panel {
      display: inline;
    }
  }
}

.u-panel {
  display: none;
}

.u-content {
  float: left;
  width: 100%;
}
