// http://www.zhangxinxu.com/wordpress/2012/04/inline-block-space-remove-%e5%8e%bb%e9%99%a4%e9%97%b4%e8%b7%9d/
// https://github.com/yahoo/pure/blob/master/src/grids/css/grids-core.css
// letter-spacing: -0.31em; won't work when child has border
@mixin clear-spacing($child-selector: "> *") {
  $use-table: true;

  word-spacing: -0.43em;

  @if $use-table {
    display: table;
  } @else {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
  }

  #{$child-selector} {
    word-spacing: normal;
    overflow: hidden;
  }
}
